.fundo-carrinho {
  background: no-repeat url("../../img/fundo.jpg");
  background-size: cover;
  padding: 5% 5%;
}

.container-carrinho {
  background-color: aliceblue;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  gap: 10px 30px;
}

.container-carrinho img {
  max-width: 100%;
  padding-right: 30px;
}

.pedido {
  display: grid;
  padding: 2%;
  grid-template-columns: 2fr auto;
  background-color: white;
  grid-column: 1;
  border-radius: 10px;
  align-items: center;
}

.produto {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px 0px;
}

.foto-produto {
  grid-row: 1/5;
}

.nome-produto {
  padding-bottom: 10px;
  grid-row: 2;
  font-size: 1.4rem;
}

.preco-produto {
  grid-row: 3;
}

.titulo-resumo-pedido {
  font-size: 2rem;
  padding-bottom: 2%;;
  grid-column: 2;
  grid-row: 1;
}

.titulo-carinho-compras {
  font-size: 2rem;
  padding-bottom: 4%;;
  grid-column: 1;
}

.resumo-pedido {
  display: grid;
  grid-column: 2;
  background-color: white;
  border-radius: 10px;
  padding: 4%;
  grid-row: 2;
}

.botao-adicionar, .botao-remover {
  background-color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
}

.botao-adicionar:hover, .botao-remover:hover {
  transform: translateY(1.3px);
  background-color: #F1F1F1;
}

.botao-adicionar {
  padding: 4px 8px;
}

.botao-remover {
  padding: 4px 12px;
}

.quantidade span {
  padding: 0 10px;
  font-size: 1.3rem;
}

.texto-info-pagamento {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr auto;
}

.texto-info-pagamento p {
  padding-bottom: 10px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color: #464646
}

.botao-comprar {
  grid-row: 2;
  margin: 5px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border: none;
  background-color: red;
  padding: 10px;
  color: white;
  border-radius: 6px;
}

.botao-comprar:hover {
  transform: translateY(1.25px);
  background-color: rgb(255, 30, 30);
}

.checkout-texto {
  grid-row: 3;
  text-align: center;
}
